@import '../variables.scss';

$phone-width: 300px;

.brands-list {
  display: grid;
  grid-template-columns: $phone-width;
  padding: 2rem;
  gap: 3.2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, $phone-width);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, $phone-width);
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(4, $phone-width);
  }

  &__link {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: $dark-grey;

    &:hover {
      background-color: $light-green;
    }
  }

  &__link-heading {
    margin-bottom: 1rem;
  }
}
