@import '../variables.scss';

.brands-list {
  padding: 2rem;

  @extend %display-phones;

  &__link {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: $dark-grey;

    &:hover {
      background-color: $light-green;
    }
  }

  &__link-heading {
    margin-bottom: 1rem;
  }
}
