@import '../../variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  width: 100%;
  height: $header-footer-height;

  &__link {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $light-green;
    }
  }
}
