* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Avenir', sans-serif;
  list-style-type: none;
  font-size: 10px;
  // change to 10px - 1rem
}

body {
  font-size: 1.6rem;
}
